<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
    <span class="text-danger">Rithvik Software Solutions</span>
    </a>    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a asp-action="Index" class="nav-link">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Payroll</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Invoice</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Quotation</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src=imagepath alt="User Profile" class="rounded-circle" style="width: 35px; height: 35px;">
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a asp-controller="Admin" asp-action="Dashboard" class="dropdown-item">Profile</a>
                    <a asp-controller="Home" asp-action="EmployeeLogout" class="dropdown-item">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
