<div class="col-md-2">
    <div class="list-group">
        <a class="list-group-item list-group-item-action"  asp-action="Details">Dashboard</a>
        <a class="list-group-item list-group-item-action" asp-action="">Employee</a>
        <a class="list-group-item list-group-item-action" asp-action="">Contractors</a>
        <a class="list-group-item list-group-item-action" asp-action="">Login Details</a>
        <a class="list-group-item list-group-item-action"  asp-action="Attandence">Attendance</a>
        <a class="list-group-item list-group-item-action" asp-action="">Leaves</a>
        <a class="list-group-item list-group-item-action" asp-action="">Timesheet</a>
        <a class="list-group-item list-group-item-action" asp-action="">Pay Slips</a>
        <a class="list-group-item list-group-item-action" asp-action="">Expenses</a>
        <a class="list-group-item list-group-item-action" asp-action="">Logout</a>
    </div>
</div>