@{
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<div class="reset-password-confirmation" style="text-align: center; padding: 50px;">
    <h2>Password Reset</h2>
    <p>Your password has been successfully updated.</p>
    <a asp-controller="Home" asp-action="Login" class="btn btn-primary">Go to Login</a>
</div>
