@{
    Layout = null;
}

<div class="forgot-password-confirmation" style="text-align: center; padding: 50px;">
    <h2>Password Reset</h2>
    <p>An email with your new password has been sent to your registered email address.</p>
    <a href="/Home/Login" class="btn btn-primary">Go to Login</a>
</div>
