@{
    Layout = "~/views/Shared/_EmployeeLayout.cshtml";
}

<div class="container mt-4">
    <div class="row">
        <!-- Navbar (Partial View) -->
        <div class="col-lg-2 col-md-3 col-12">
            @await Html.PartialAsync("_NavbarPartial")  <!-- Include your navbar -->
        </div>
        <!-- Employee Search Form -->
        <div class="col-lg-10 col-md-9 col-12">
            <h1> You are Unauthorized </h1>
        </div>
    </div>
</div>

<!-- Custom CSS to match color scheme -->
