@model Payrollfix_poc.Models.Timesheet

@{
	ViewBag.Title = "Delete Timesheet";
}
@{
	Layout = "~/views/Shared/_EmployeeLayout.cshtml";
}
<div class="container">
	<div class="row2">
		<!-- Employee Search Form -->
		<div class="col-lg-10 col-md-9 col-12">
			<h2>Delete Timesheet</h2>

			<div class="form-group">
				<label>Date</label>
				<p>@Model.Date.ToShortDateString()</p>
			</div>
			<div class="form-group">
				<label>Hours Worked</label>
				<p>@Model.HoursWorked</p>
			</div>
			<div class="form-group">
				<label>Description</label>
				<p>@Model.Description</p>
			</div>

			<form asp-action="DeleteConfirmed" asp-route-id=@Model.TimesheetId method="post">
				<button type="submit" class="btn btn-danger">Delete</button>
				<a asp-action="TimesheetList" class="btn btn-secondary">Cancel</a>
			</form>
		</div>
	</div>
</div>
